<section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title is-size-1">
      Get <span class="has-text-info">sh</span>it done!
    </p>
    <p class="subtitle is-size-2">todo App build with angular</p>
  </div>
</section>

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="container">
      <ul>
        <li>
          <a routerLink ="/app">Home</a>
        </li>
        <li>
          <a routerLink ="/list">list</a>
        </li>
        <li>
          <a routerLink ="/item">item</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="container">
      <!-- <task-item></task-item>
      <br />
      <task-list></task-list> -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>
